<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xxzy.family">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="com.android.launcher.permission.WRITE_SETTINGS"
        tools:node="remove" />
    <uses-permission
        android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"
        tools:node="remove" />
    <uses-permission
        android:name="com.android.launcher.permission.READ_SETTINGS"
        tools:node="remove" />
    <uses-permission
        android:name="com.android.launcher.permission.INSTALL_SHORTCUT"
        tools:node="remove" />

    <application
        android:name=".app.WorkApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AsyncLayoutInflaterActivity">

        </activity>
        <activity android:name=".TimeActivity">

        </activity>
        <activity android:name=".DragPictureGoBackActivity" />
        <activity android:name=".PagingActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>